:root {
    --colorBackground: #1a222c;
    --colorText: #e1e1e1;
    --colorBackgroundNav: #7a7c7a;
    --colorLinkNav: #232d39;
    --colorLinkHover: #AAA;
    --colorLink: #2196f3;
    --colorBorderSection: #333;
    --colorBackgroundSection: #232d39;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    line-height: 1.5em;
    font-weight: bold;
    background-color: var(--colorBackground);
    color: var(--colorText);
}

a,
:link {
    font-weight: bold;
}


/*
HEADER
*/

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: var(--colorBackgroundNav);
}

nav a {
    color: var(--colorLinkNav);
    text-decoration: none;
    padding: 0.5rem;
}

nav a:hover {
    color: var(--colorLinkHover);
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul p {
    margin: 0;
}

#logo {
    display: flex;
    align-items: center;
}

#logo img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

/*
TITOLO
*/

h1 {
    margin-left: 10%;
}

/*
SECTION
*/

section {
    border: 0.2em solid var(--colorBorderSection);
    border-radius: 30px;
    background-color: var(--colorBackgroundSection);

    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    margin-bottom: 50px;

    padding-left: 5%;
    padding-top: 30px;
    padding-bottom: 30px;

    font-size: large;
}

section h2 {
    font-size: xx-large;
}

section hr {
    border-radius: 5px;
    margin-top: 1em;
    margin-bottom: 2em;
    margin-right: 10%;
}

#info-finali {
    text-align: center;
    font-size: 0.7em;
}

section a {
    color: var(--colorLink);
}

#membri {
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0.8em;
}

#membri li {
    background-color: #232d39;
    text-align: center;
    flex: 1 1 14em;
    max-width: 11em;
    padding: 0.8em;
    margin: 0.8em 0.6em;
    border-radius: 10px;
    border: 2px outset var(--colorLink);
}


/*
H2
*/

h2 {
    margin-bottom: 20px;
}

/*
FOOTER
*/

footer {
    font-size: 0.8em;
    background-color: var(--colorBackgroundNav);
    color: var(--colorLinkNav);
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
/*
MOBILE
*/
@media (max-width: 600px) {
    nav {
        flex-direction: column;
        padding: 0.5rem;
        width: auto;
    }

    nav a {
        margin: 0.5rem 0;
    }

    section {
        padding: 0.5em;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        width: 95%;
    }

    nav ul li {
        display: block;
        margin: auto;
        width: 100%;
        font-size: 1.5em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;

    }

    h1 {
        font-size: 1.5em;
        line-height: 1em;
    }
}